
</div>
<div class="footer-padding"></div>
  <div class="footer">
<<<<<<< HEAD
    <p>© Sebastian Smolik, 2022</p>
=======
    <p>Made with ❤️ by The App Brewery</p>
>>>>>>> 64b0243a6071716a74745bef2fe0745944ff3fdc
  </div>
</div>
</body>
</html>
